* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

section{
    height: 100vh;
}

.header {
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid white;
}


.nav-bar-main {
    margin: 0 20%;
    display: flex;
    gap: 1.5rem;
}

.nav-bar-right {
    display: flex;
    gap: 1.5rem;
}

/*Section Home*/

.section-home {
    background-image: url(imagens/home-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 98.9vw;
}

.home-container {
    position: relative;
    background-color: transparent;
}

.home-content {
    background-color: transparent;
    position: absolute;
    margin-top: 20vh;
    margin-left: 10rem;
}

.tittle{
    font-weight: bolder;
    font-size: 60px;
}

.para{
    font-weight: 100;
    font-size: 20px;
    width: 700px;
}

#home-button{
    background-color: #E0A75E;
    width: 200px;
    height: 40px;
    padding: 1rem 3 rem;
    font-size: 1rem;
    cursor: pointer;
}